.footer-img {
    height: 150px;
    opacity: 0.5;
}

.img-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; /* Đặt kích thước của div */
    height: 612px;
    overflow: hidden; /* Ẩn phần ảnh bị vượt ra ngoài */
}

.test {
    color: red;
}
.extend-bar {
    transform: translate(-70px, 7px);
}
.content-body h1{
    text-align: center;
}
.table{
    background-color: rgb(247, 247, 249);
}
.content-body{
    margin-top: 40px; /* Khoảng cách với header */
    margin-bottom: 129px;
}
.custome-table  thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}
.login-page {
    height: 80vh; /* Để trang login chiếm toàn bộ chiều cao màn hình */
}

.login-page .img-fluid {
    height: 100vh; /* Đảm bảo hình ảnh không quá lớn */
}
