{{> headerUserView}}
<div class="container content-body">
    <div class="row justify-content-center" >
        <div class="col-md-6">
            <h1 class="">Login</h1>
            {{#if error}}
            <p style="color: red;">{{error}}</p>
            {{/if}}
            <form action="/auth/login" method="POST" class="mt-4">
                <div class="form-group">
                    <label for="exampleDropdownFormEmail2">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleDropdownFormEmail2"
                        placeholder="email@hust.edu.vn" required>
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormPassword2">Password</label>
                    <input type="password" name="mssv" class="form-control" id="exampleDropdownFormPassword2"
                        placeholder="MSSV" required>
                </div>

                <button type="submit" class="btn btn-primary mt-3">Sign in</button>
            </form>
        </div>
    </div>
</div>