  {{> header}}
<div class="container content-body">
    <h2 style="margin-bottom: 24px;">Thêm nhóm</h2>
    <form method="POST"  action="/groups/saved">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Tên nhóm</label>
                <input name="name" id="name" type="text" class="form-control" required>
            </div>
        </div>
         <div class="form-row">
             <div class="form-group col-md-12">
                <label for="description">Mô tả</label>
                <textarea name="description" id="description" class="form-control">{{group.description}}</textarea>
            </div>
        </div>
       

        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>
