<div class="content-details">
    <h1 class="name-details" style="text-align: center;">{{group.name}}</h1>
    <div>
        <div style="text-align: center;">
        </div>
        <div>
            <h2>Mô tả</h2>
            <p> {{group.description}}</p>
            <p>Ngày tạo: {{group.createdAt}}</p>
        </div>
    </div>
</div>
