@charset "UTF-8";
.footer-img {
  height: 200px; }

.footer {
  margin-top: 500px; }

.img-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  /* Đặt kích thước của div */
  height: 612px;
  overflow: hidden;
  /* Ẩn phần ảnh bị vượt ra ngoài */ }

.test {
  color: red; }

.extend-bar {
  transform: translate(-70px, 7px); }
