<div class="card bg-dark text-white card text-white bg-primary footer">
    <img class="card-img footer-img" src="../../../img/footer-img.png" alt="Card image">
    <div class="card-img-overlay">
        <h5 class="card-title">About project
            <div style="    position: absolute; top: 84px; right: 5px;">
                <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
                    data-name="bmc-button" data-slug="ledangquangdangquang" data-color="#f6eeee" data-emoji=""
                    data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000"
                    data-font-color="#000000" data-coffee-color="#FFDD00"></script>
            </div>
        </h5>
        <p></p>
        <h6 class="card-text">Author: Lê Đăng Quang</h6>
        <p>Feedback: ldquang1@gmail.com</p>
    </div>
</div>