<div class="card bg-dark text-white card text-white bg-primary footer">
    <img class="card-img footer-img"
        src="https://cdn.photoroom.com/v1/assets-cached.jpg?path=backgrounds_v3/black/Photoroom_black_background_extremely_fine_texture_only_black_co_c3ee01bd-a082-44ff-b184-e338a13b2ffa.jpg"
        alt="Card image">
    <div class="card-img-overlay">
        <h5 class="card-title">About project</h5>
        <p class="card-text">It so hard to speed run the game</p>
        <p class="card-text">Last updated now</p>
    </div>
</div>