<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
    <a class="navbar-brand" href="/">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link disabled" href="students/details/{{student.id}}">{{student.name}}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Tùy chọn
                </a>
                <div class="dropdown-menu extend-bar" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/students/create">Thêm sinh viên</a>
                    <a class="dropdown-item" href="/groups/create">Thêm nhóm</a>
                    <a class="dropdown-item" href="/projects/create">Thêm project</a>
                    <a class="dropdown-item" href="/auth/logout" >Logout</a>
                </div>
            </li>
            <li>

            </li>
    </div>


</nav>