<div class="content-details">
    <h1 class="name-details" style="text-align: center;">{{project.name}}</h1>
    <div>
        <div style="text-align: center;">
            <img src="../../../img/projects/{{project.image}}" style=" height: 451px; " alt="ơ không sao ra">
        </div>
        <div>
            <h2>Mô tả</h2>
            <p> {{project.description}}</p>
            <p>Ngày tạo: {{project.createdAt}}</p>
        </div>
    </div>
</div>
